@model InMyAppinion.ViewModels.SubjectReviewViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>SubjectReview</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UsefulnessGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsefulnessGrade" class="form-control" />
                <span asp-validation-for="UsefulnessGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InterestGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InterestGrade" class="form-control" />
                <span asp-validation-for="InterestGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DifficultyGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DifficultyGrade" class="form-control" />
                <span asp-validation-for="DifficultyGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Points" type="hidden" value="0" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="AuthorID" class ="form-control" type="hidden" value="@ViewBag.AuthorID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="SubjectID" class ="form-control" type="hidden" value="@ViewBag.SubjectID" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <select asp-for="tags" class="form-control chosen-select" multiple asp-items="ViewBag.SubjectTags"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
        });
    </script>
}