body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/concrete_seamless.png");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

.nav > li > a:hover{
    border: inherit;
    background-color:inherit;
}

#comments > * > h5 > span{
    font-weight: bold;
    color: #128ee9;
}

.clear {
    clear: both;
}

.margins {
    margin-top: 17px;
}

#positive {
    color: green;
    padding: 0;
}

#negative {
    color: red;
    padding: 0;
}

#cloud a:hover {
    color: darkgreen;
}
