@model InMyAppinion.ViewModels.ProfessorReviewViewModel

@{
    ViewData["Title"] = "Kritika Profesora";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ProfessorReview</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Text" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="QualityGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="QualityGrade" class="form-control" />
                <span asp-validation-for="QualityGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InteractionGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InteractionGrade" class="form-control" />
                <span asp-validation-for="InteractionGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HelpfulnessGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HelpfulnessGrade" class="form-control" />
                <span asp-validation-for="HelpfulnessGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MentorGrade" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MentorGrade" class="form-control" />
                <span asp-validation-for="MentorGrade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Points" type="hidden" value="0" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="AuthorID" type="hidden" value="@ViewBag.AuthorID" class ="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="ProfessorID" type="hidden" value="@ViewBag.ProfessorID" class ="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="tags" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="tags" asp-items="ViewBag.ProfessorTags" multiple class="form-control chosen-select"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
        });
    </script>
}
